<div>Author: <input id="authorField" type="text" value="{{author}}"></div>
<div>Title: <input id="titleField" type="text" value="{{title}}"></div>
<div>Content: <textarea id="contentField" rows="8" cols="80">{{content}}</textarea></div>
<div><button id="submitButton">Save Changes</button></div>
<br />
<br />
Comments:

<br />
<br />
<div id="comments">
    {{#comments}}
    <div class="comment">
        Author: {{author}}<br />
        Comment: {{content}}<br/>
        <div><a href="#/DeleteComment/{{id}}">Delete Comment</a></div>
    </div><br />
    {{/comments}}
</div>