{{#posts}}
<!-- <img src="{{imgSoruce}}" alt=""> -->
<!-- <img src="../img/test.jpg" alt=""> -->
	<div class="adminPostContainer">
		<div class="adminTite">Title: <p>{{title}}</p></div>
		<div class="adminAuthor">Author: <p>{{author}}</p></div>
		<div class="adminPostId">ID: <span>{{id}}</span></div>
		<div class="adminPostViewButton" ><a href="#/Post/{{id}}">View Post</a></div>
		<div class="adminPostEditButton" ><a href="#/EditPost/{{id}}">Edit Post</a></div>
		<div class="adminPostDeleteButton" ><a href="#/DeletePost/{{id}}">Delete Post</a></div>
		<br />
		<br />
		<br />
	</div>
{{/posts}}