<div class="adminPostEditAuthor"><p>Author: </p><input id="authorField" type="text" value="{{author}}"></div>
<div class="adminPostEditTitle"><p>Title: </p><input id="titleField" type="text" value="{{title}}"></div>
<div>Content: <textarea id="contentField" rows="8" cols="80">{{content}}</textarea></div>
<div><button id="submitButton">Save Changes</button></div>
<br />
<br />
Comments:

<br />
<br />
<div id="comments">
    {{#comments}}
    <div class="comment">
    	<div class="adminPostCommentContainer">
			<div class="adminCommentEditAuthor"><p>{{author}}<p></div>
			<div class="adminCommentEditContent"><p>{{content}}</p></div>
        <div class="adminCommentDeleteButton"><a href="#/DeleteComment/{{id}}">Delete Comment</a></div>
    	</div>
    
    </div><br />
    {{/comments}}
</div>
