<!-- <p>Title:</p> <input type="text" id="postTitle" /><br />
<p>Picture Url:</p> <input type="text" id="picUrl" /><br />
<p>Tags:</p> <input type="text" id="tags" /><br />
<p>Post:</p><textarea id="postText" rows="10" cols="26"></textarea><br />
<button id="addPost">Add Post</button> -->

<!-- <div class="adminPostEditAuthor"><p>Author: </p><input id="authorField" type="text" value="{{author}}"></div> -->
<div class="adminPostEditTitle"><p>Title: </p><input id="titleField" type="text" value="{{title}}"></div>
<div class="adminPostEditTitle"><p>Picture URL: </p><input id="pictureField" type="text" value="{{img}}"></div>
<div class="adminPostEditTitle"><p>Tags: </p><input id="tagsField" type="text" value="{{tags}}"></div>
<div>Content: <textarea id="contentField" rows="8" cols="80">{{content}}</textarea></div>

<button id="addPost">Add Post</button>
