{{#posts}}
	<div class="largePost">
		<!-- <img src="{{imgSoruce}}" alt=""> -->
		<div><a href="#/Post/{{id}}"><img src='{{img}}' alt="https://lh6.ggpht.com/jvfXwvB7uwJRKHrq3mipLLS2WcEy2L5Zvw1usz2w126C_iRGOB2q9_DgDKC2JDhKKw=w300"></a></div>
		<h3><a href="#/Post/{{id}}">{{title}}</a></h3>
		<div class="largePostInfo">
			<div class="viewsCount"><img src="./img/viewIcon.png" alt=""><h4>{{viewsCount}}</h4></div>
			<div class="voteCount"><img src="./img/likeIcon.png" alt=""><h4>{{voteCount}}</h4></div>
		</div>
	</div>
{{/posts}}
