<div id="loginPage">
	<h1>Login</h1>
	<h3>и ги раза да напечата с тях книга с примерни шрифтове</h3>
	<label for="username">Username:</label>
	<input type="text" id="username"/>
	<label for="password">Password:</label>
	<input type="password" id="password"/>
	<button id="loginUserButton">Login</button>
	<div id="loginHr"></div>
	<h1>и ги разбърква, за да наптях книга с примерни шрифтове</h1>
	<h3>и ги разбърква, за да напечата с тях книга с притове</h3>
	<div id="loginFacebook">Facebook TODO</div>
	<div id="loginTwitter">Twitter TODO</div>
	<div id="loginGoogle">Google TODO</div>
</div>