/*start of css rest*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
}
/*end of css rest*/

label {
  display: block;
}

body {
  font-family: Segoe UI Light, Open Sans;
  /*background-color: #efefef; /*test color*/*/
}

#mainContaier {
  margin: 0 auto;
  width: 1000px;
  min-height: 500px ;
  /*background-color: #efefef; /*test color*/*/
}
header {
  width: 100%;
  height: 83px;
  background-color: #f6efd5;
  left: 0px;
  position: fixed;
}
footer {
  width: 100%;
  height: 83px;
  background-color: #4e4e4e;
  left: 0px;
  margin-top: 30px;
}
#headerContainer {
  width: 1000px;
  height: 83px;
  margin: 0 auto;
}
#logo {
  width: 153px;
  height: 57px;
  margin-top: 15px;
  background-image: url("../img/logo.png");
  float: left;
}
#menuButton {
  width: 41px;
  height: 37px;
  float: right;
  margin-top: 25px;
  background-image: url("../img/menu.png");
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  cursor: pointer; 
}
#menuButton:hover {
  background-image: url("../img/menuHover.png");
}
#registerButton {
  width: 195px;
  height: 37px;
  background-color: #f96c65;
  float: right;
  margin-top: 25px;
  border-radius: 6px;
  margin-right: 20px;
  text-decoration: none;
  color: #fff;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
#registerButton:hover {
  background-color: #de5959;
}
#registerButton p {
  margin-left: 25px;
  margin-top: 8px;
  font-size: 18px;
}
#loginButton {
  width: 60px;
  height: 37px;
  float: right;
  margin-top: 25px;
  margin-right: 20px;
  text-decoration: none;
  color: #f96c65;
}
#loginButton p {
  margin-left: 20px;
  margin-top: 8px;
  font-size: 18px;
}
#dropDownMenu {
  display:none;
  width: 1000px;
  height: 62px;
  background-color: #fff;
  opacity: 0.9;
  margin:0 auto;
  border-bottom: 1px solid #e5e5e5;
}
#menuLinks {
  height: 40px;
  font-size: 20px;
  float: left;
  margin-top: 20px;
}
#menuLinks a {
  color: #4c4b4b;
  display: inline;
  margin-left: 25px;
  text-decoration: none;
}
#menuLinks a:hover{
  border-bottom: 2px solid #f96c65;
}
#search img{
  float: right;
  width: 32px;
  height: 32px;
  margin-right: 13px;
  margin-top: 14px;
}
#search img:hover {
  opacity: 0.8;
}
#register {
  width: 500px;
  height: 350px;
  background-color: #fff;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 220px;
  text-align:center;
  border-radius: 6px;
}
#register h1, #loginPage h1 {
  margin: auto; 
  margin-top: 20px;
  color: #f96c65;
  font-size: 25px;
}

#register h3, #loginPage h3{
  width: 290px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #4c4b4b;
  font-size: 15px;
  text-align: center
}
#register input, #loginPage input {
  height: 25px;
  width: 220px;
  margin-bottom: 15px;
  border: 1px solid #e3e4e8 ;
  border-radius: 5px;
}
#register input[type='text'], #loginPage input[type="text"]{
  padding-left: 5px;
  padding-bottom: 5px;
  font-family: Segoe UI Light;
  font-size: 17px;
}
#register label, #loginPage label {
  margin-bottom: 5px;
  color: #4c4b4b;
  font-size: 15px;
}
#register button, #loginPage button {
  width: 130px;
  height: 45px;
  margin: auto;
  background-color: #f96c65;
  border-radius: 5px;
  float: center;
  display: block;
  border: none;
  color: #fff;
  font-size: 20px;
  font-family: Segoe UI Light;
}
#loginPage {
  width: 500px;
  height: 520px;
  background-color: #fff;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align:center;
  border-radius: 6px;
  margin-left: 220px;
}
#center {
  width: 1000px;
  height: auto;
  margin-top: 83px;
  display: inline-block;
}
#leftSide {
  width: 700px;
  height: auto;
  display: inline-block; 
}
#rightSide {
  width: 300px;
  height: auto;
  float: right;
}
.largePost{
  margin-top: 10px;
  margin-bottom: 20px;
  width: 350px;
  height: 315px;
  float: left;
}
.largePost h3 {
  height: 45px;
}
.largePost h3 a{
  margin-top: 5px;
  font-size: 20px;
  height: 45px;
  color: #f96c65;
  text-decoration: none;
}

#topPost {
  margin-top: 10px;
  font-size: 20px;
  color: #f96c65;
}
.largePostInfo {
  width: 195px;
  height: 35px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  margin-top: 5px;
}


.viewsCount img {
  float: left;
}
.viewsCount{
  margin-top: 10px;
  margin-left: 5px;
  height: 35px;
  width: 60px;
  float: left;
}

.viewsCount h4{
  width: 15px;
  color: #a6a6a6;
  float: left;
  margin-left: 8px;
}

.commentsCount img {
  float: left;
}
.commentsCount{
  margin-top: 10px;
  margin-left: 5px;
  height: 35px;
  width: 60px;
  float: left;
}

.commentsCount h4{
  width: 15px;
  color: #a6a6a6;
  float: left;
  margin-left: 8px;
}


.voteCount img {
  float: left;
}
.voteCount{
  margin-top: 10px;
  margin-left: 5px;
  height: 35px;
  width: 60px;
  float: left;
}

.voteCount h4{
  width: 15px;
  color: #a6a6a6;
  float: left;
  margin-left: 8px;
}
hr {
  width: 700px;
  height: 2px;
  background-color: #a6a6a6 ;
  border: none;
  margin-top: 15px;
  margin-bottom: 25px;
  float:left;
}