/*start of css rest*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
}
/*end of css rest*/

label {
  display: block;
}

body {
  font-family: Segoe UI Light, Open Sans;
  /*background-color: #efefef; /*test color*/*/
}

#mainContaier {
  margin: 0 auto;
  width: 1000px;
  min-height: 500px ;
  /*background-color: #efefef; /*test color*/*/
}
header {
  width: 100%;
  height: 83px;
  background-color: #f6efd5;
  left: 0px;
  position: fixed;
}
footer {
  width: 100%;
  height: 83px;
  background-color: #4e4e4e;
  left: 0px;
  margin-top: 30px;
}
#headerContainer {
  width: 1000px;
  height: 83px;
  margin: 0 auto;
}
#logo {
  width: 153px;
  height: 57px;
  margin-top: 15px;
  margin-right: 5px;
  background-image: url("../img/logo.png");
  float: left;
}
#menuButton {
  width: 41px;
  height: 37px;
  float: right;
  margin-top: 25px;
  background-image: url("../img/menu.png");
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  cursor: pointer; 
}
#menuButton:hover {
  background-image: url("../img/menuHover.png");
}
#registerButton {
  width: 195px;
  height: 37px;
  background-color: #f96c65;
  float: right;
  margin-top: 25px;
  border-radius: 6px;
  margin-right: 20px;
  text-decoration: none;
  color: #fff;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
#registerButton:hover {
  background-color: #de5959;
}
#registerButton p {
  margin-left: 25px;
  margin-top: 8px;
  font-size: 18px;
}
#loginButton {
  width: 60px;
  height: 37px;
  float: right;
  margin-top: 25px;
  margin-right: 20px;
  text-decoration: none;
  color: #f96c65;
}
#loginButton p {
  margin-left: 20px;
  margin-top: 8px;
  font-size: 18px;
}

#dropDownMenu {
  display:none;
  width: 1000px;
  height: 62px;
  background-color: #fff;
  opacity: 0.9;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  border-bottom: 1px solid #e5e5e5;
}
#menuLinks {
  height: 40px;
  font-size: 20px;
  float: left;
  margin-top: 20px;
}
#menuLinks a {
  color: #4c4b4b;
  display: inline;
  margin-left: 25px;
  text-decoration: none;
}
#menuLinks a:hover{
  border-bottom: 2px solid #f96c65;
}
#searchButton img{
  float: right;
  width: 32px;
  height: 32px;
  margin-right: 13px;
  margin-top: 14px;
}
#searchButton img:hover {
  opacity: 0.8;
}
#register {
  width: 500px;
  height: 350px;
  background-color: #fff;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 220px;
  text-align:center;
  border-radius: 6px;
}
#register h1, #loginPage h1 {
  margin: auto; 
  margin-top: 20px;
  color: #f96c65;
  font-size: 25px;
}
#hiUserName {
  float: right;
  /*width: 100px;*/
  height: 0px;
  margin-top: 32px;

}
#hiUserName span{
  color: #f96c65;
  font-weight: bold;
  font-size: 20px;
}
#register h3, #loginPage h3{
  width: 290px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #4c4b4b;
  font-size: 15px;
  text-align: center
}
#register input, #loginPage input {
  height: 25px;
  width: 220px;
  margin-bottom: 15px;
  border: 1px solid #e3e4e8 ;
  border-radius: 5px;
}
#register input[type='text'], #loginPage input[type="text"]{
  padding-left: 5px;
  padding-bottom: 5px;
  font-family: Segoe UI Light;
  font-size: 17px;
}
#register label, #loginPage label {
  margin-bottom: 5px;
  color: #4c4b4b;
  font-size: 15px;
}
#register button, #loginPage button {
  width: 130px;
  height: 45px;
  margin: auto;
  background-color: #f96c65;
  border-radius: 5px;
  float: none;
  display: block;
  border: none;
  color: #fff;
  font-size: 20px;
  font-family: Segoe UI Light;
}
#loginPage {
  width: 500px;
  height: 520px;
  background-color: #fff;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align:center;
  border-radius: 6px;
  margin-left: 220px;
}
#center {
  width: 1000px;
  height: auto;
  margin-top: 83px;
  display: inline-block;
}
#leftSide {
  width: 700px;
  height: auto;
  display: inline-block; 
}
#rightSide {
  width: 300px;
  height: auto;
  float: right;
}
.largePost{
  margin-top: 10px;
  margin-bottom: 20px;
  width: 350px;
  height: 325px;
  float: left;
}
.largePost img{
  max-width: 320px;
  max-height: 260px;

}
.largePost h3 {
  height: 45px;
}
.largePost h3 a{
  margin-top: 5px;
  font-size: 20px;
  height: 43px;
  color: #f96c65;
  text-decoration: none;
  display: block; 
  display: -webkit-box;
  max-width: 340px;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

#topPost, #mostViewedPosts, #newestPost, #tags {
  margin-top: 10px;
  font-size: 20px;
  color: #f96c65;
}
.largePostInfo {
  width: 195px;
  height: 35px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  margin-top: 5px;
}


.viewsCount img {
  float: left;
}
.viewsCount{
  margin-top: 10px;
  margin-left: 5px;
  height: 35px;
  width: 60px;
  float: left;
}

.viewsCount h4{
  width: 15px;
  color: #a6a6a6;
  float: left;
  margin-left: 8px;
}

.commentsCount img {
  float: left;
}
.commentsCount{
  margin-top: 10px;
  margin-left: 5px;
  height: 35px;
  width: 60px;
  float: left;
}

.commentsCount h4{
  width: 15px;
  color: #a6a6a6;
  float: left;
  margin-left: 8px;
}


.voteCount img {
  float: left;
}
.voteCount{
  margin-top: 10px;
  margin-left: 5px;
  height: 35px;
  width: 60px;
  float: left;
}

.voteCount h4{
  width: 15px;
  color: #a6a6a6;
  float: left;
  margin-left: 8px;
}
hr {
  width: 700px;
  height: 2px;
  background-color: #a6a6a6 ;
  border: none;
  margin-top: 15px;
  margin-bottom: 25px;
  float:left;
}

.mediumPost {
  width: 700px;
  height: 160px;
  float: left;
  margin-bottom: 10px;
  margin-top: 10px;
}
.mediumPost img{
  max-width: 200px;
  float: left;
}

.mediumPostInfo {
  width: 195px;
  height: 35px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  margin-top: 8px;
  float: left;
  margin-left: 5px;
}
.mediumPost {
  margin-left: 5px;
}
.mediumPost h3 {
  width: 481px;
  margin-left: 5px;
  float: left;
 
}
.mediumPost h3 a{
  font-size: 20px;
  height: 45px;
  color: #f96c65;
  text-decoration: none;
  width: 481px;
  display: block; 
  display: -webkit-box;
  max-width: 480px;
  height: 40px; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mediumPostContent{
  width: 491px;
  height: 68px;
  float: left;
  margin-left: 5px;
}
.mediumPostContent p {
  display: block; 
  display: -webkit-box;
  max-width: 480px;
  height: 64px; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.readMore {
  width: 110px;
  height: 37px;
  background-color: #f96c65;
  float: right;
  margin-top: 5px;
  border-radius: 6px;
  margin-right: 20px;
  text-decoration: none;
  color: #fff;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
.readMore:hover {
  background-color: #de5959;
}
.readMore a {
  margin-left: 14px;
  margin-top: 9px;
  float: left;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}
.smallPost {
  width: 300px;
  height: 66px;
  float: left;
  margin-bottom: 5px;
  margin-top: 5px;
}
.smallPost img {
  float: left;
  margin-right: 5px;
  max-width: 80px;
}

.smallPost h3 a{
  font-size: 15px;
  color: #f96c65;
  text-decoration: none;
  width: 215px;
  display: block; 
  display: -webkit-box;
  height: 32px; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  float: left;
}
.smallPostDate {
  color: #4e4e4e;
  font-size: 15px;
  float: right;
  margin-top: 13px;
  height: 15px;
}
.smallPostAuthor {
  font-size: 15px;
  color: #68d2d1;
  float: left;
  margin-top: 13px;
  height: 15px;
}
.smallPostHr {
  width: 300px;
  height: 2px;
  margin-top: 3px;
  margin-bottom: 3px;
  background-color: #e5e5e5;
  float: right;
}
#newestPost{
  margin-bottom: 5px;
}
.smallPostHr {
  width: 300px;
  height: 1px;
  border: none;
  background-color: #e4e4e4;
  margin-top: 8px;
}
#postViewTitle {
  font-size: 20px;
  color: #f96c65;
  text-decoration: none;
  width: 1000px;
  display: block; 
  display: -webkit-box;
  height: 40px; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  float: left;
  margin-top: 20px;
  font-weight:  bold
}
#postView img {
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: 1000px;
  /*float: left;*/
}
#postViewInfo {
  width: 1000px;
  height: 60px;
  margin-bottom: 15px;
  float: left;
  /*background-color: gray;*/
}
#postViewAuthor {
  height: 60px;
  width: 150px;
  float: left;
}
#postViewAuthor img {
  float: left;

}
#postViewAuthor p {
  width: 110px;
  font-size: 20px;
  color: #68d2d1;
  margin-top: 20px;
  margin-left: 10px;
  float: left;
}
#postViewViews {
  width: 110px;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 10px;
  float: left;
}
#rateCount{
  color: #f96c65;
}
#postViewViews {
  width: 110px;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 10px;
  float: right;
}
#postViewVoteCount {
  width: 110px;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 20px;
  float: right
}
#postViewViews span {
  color: #f96c65;
}
#voteDown, #voteUp{
  float: right;
  height: 60px;
  width: 60px;
  margin-top: -20px;  
}
#voteDown img, #voteUp img { 
  height: 60px;
  top: -15px;
  float: right;
}
#postViewContent {
  font-size: 16px;
  line-height: 1.6;
  width: 1000px;
  height: auto;
  float: left;
}
#postViewComentsTitle {
  width: 1000px;
  height: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  float: left;
  font-size: 20px;
  color: #f96c65;
}
.comment {
  width: 1000px;
  height: auto;
  float: left;
  margin-bottom: 15px;
}
#postViewCommentNumber {
  width: 90px;
  height: 90px;
  background-color: #e5e5e5;
  display: table; 
}
#postViewCommentNumber p {
  text-align:center; 
  vertical-align: middle;
  display: table-cell;
  font-size: 30px;
  font-weight: bold;
  color: #f96c65;   
}
#postViewCommentAuthor {
  float: left;
  font-size: 15px;
  color: #68d2d1;
  margin-top: 10px;
  height: 20px;
  width: 80px;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
#postViewCommentDate {
  float: left;
  font-size: 15px;
  color: red;
  margin-top: 10px;
  height: 20px;
  width: 80px;
}
#postViewCommentContent {
  width: 900px;
  float: right;
  height: auto;
  min-height: 150px;
}
#postViewCommentContent p {
  max-width: 900px;
}
textarea#commentContent, textarea#contentField{
  max-width: 1000px;
  min-width: 1000px;
  min-height: 120px;
  border: 1px solid #e5e5e5;
  background-position: bottom right;
  background-repeat: no-repeat;
}
#writeComment {
  color: red;   
  margin-bottom: 8px;
  margin-top: 8px;
}
#commentSend, #submitButton {
  width: 195px;
  height: 37px;
  background-color: #f96c65;
  float: right;
  margin-top: 10px;
  border-radius: 4px;
  text-decoration: none;
  color: #fff;
  border: none;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
#commentSend:hover, #submitButton:hovere {
  background-color: #de5959;
}
#commentSend p, #submitButton p {
  margin-left: 25px;
  margin-top: 8px;
  font-size: 18px;
}
#searchInput {
  width: 850px;
  font-size: 27px;
  margin-left: 10px;
  height: 60px;
  border: none;
  color: #f96c65;
}
#searchInput:focus {
  outline: 0;
  color: #f96c65;
}
#mock-cursor {
  position: absolute;
  color: #f96c65;
  -webkit-animation: blink 1s infinite;
  animation: blink 1s infinite;
  top: 13px;
  left: 8px;
  font-size: 30px;
}
input:focus ~ #mock-cursor {
  display: none;
}
@-webkit-keyframes blink {
  0%, 49.9%, 100%   { opacity: 0; }
  50%, 99.9% { opacity: 1; }
}


.searchPost {
  width: 1000px;
  height: 160px;
  float: left;
  margin-bottom: 10px;
  margin-top: 10px;
}
.searchPost img{
  float: left;
}
#searchPostImg {
  max-width: 160px;
  max-height: 210px;
}

.searchPostInfo {
  width: 195px;
  height: 35px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  margin-top: 8px;
  float: left;
  margin-left: 5px;
}
.searchPost {
  margin-left: 5px;
}
.searchPost h3 {
  width: 784px;
  margin-left: 5px;
  float: left;
}
.searchPost h3 a{
  font-size: 20px;
  height: 45px;
  color: #f96c65;
  text-decoration: none;
  display: block; 
  display: -webkit-box;
  max-width: 784px;
  height: 40px; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.searchPostContent{
  width: 784px;
  height: 68px;
  float: left;
  margin-left: 5px;
}
.searchPostContent p {
  display: block; 
  display: -webkit-box;
  max-width:  784px;
  height: 64px; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.adminPostContainer {
  width: 300px;
  height: 200px;
  float: left;
  margin-right: 15px;
  margin-left: 15px;
}
.adminTite {
  margin-top: 10px;
  width: 300px;
  height: 34px;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  float: left;
}
.adminTite p {
  color: #f96c65;
}
.adminAuthor, .adminPostId {
  width: 300px;
  height: 20px;
  float: left;
  margin-top: 5px;
  margin-bottom: 5px;
}
.adminAuthor p {
  color: #68d2d1;
}
.adminPostId span {
  color: #f96c65;
}
.adminPostViewButton {
  width: 90px;
  height: 37px;
  background-color: #f96c65;
  float: left;
  margin-top: 25px;
  border-radius: 6px;
  margin-right: 10px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

#createNewPost {
  width: 142px;
  height: 37px;
  background-color: #f96c65;
  float: none;
  margin-top: 25px;
  border-radius: 6px;
  margin: 10px auto 0 auto;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

#createNewPost:hover {
  background-color: #de5959;
}

#createNewPost a {
  font-weight: bold;
  margin-left: 12px;
  margin-top: 10px;
  font-size: 17px;
  text-decoration: none;
  color: #fff;
  float: left;
}

.adminPostViewButton:hover {
  background-color: #de5959;
}
.adminPostViewButton a {
  margin-left: 12px;
  margin-top: 10px;
  font-size: 15px;
  text-decoration: none;
  color: #fff;
  float: left;
}
.adminPostEditButton {
  width: 90px;
  height: 37px;
  background-color: #f96c65;
  float: left;
  margin-top: 25px;
  border-radius: 6px;
  margin-right: 10px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
.adminPostEditButton:hover {
  background-color: #de5959;
}
.adminPostEditButton a {
  margin-left: 16px;
  margin-top: 10px;
  font-size: 15px;
  text-decoration: none;
  color: #fff;
  float: left;
}
.adminPostDeleteButton {
  width: 90px;
  height: 37px;
  background-color: #f96c65;
  float: left;
  margin-top: 25px;
  border-radius: 6px;
  margin-right: 10px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
.adminPostDeleteButton:hover {
  background-color: #de5959;
}
.adminPostDeleteButton a {
  margin-left: 9px;
  margin-top: 10px;
  font-size: 15px;
  text-decoration: none;
  color: #fff;
  float: left;
}
.adminPostEditAuthor, .adminPostEditTitle {
  width: 1000px;
  height: auto;
  margin-bottom: 10px;
  float: left;
  margin-top: 20px;
}
.adminPostEditAuthor p, .adminPostEditTitle p {
  font-size: 15px;
  min-width: 70px;
  width: auto;
  color: #68d2d1;
  float: left;
  margin-right: 15px;
  margin-top: 6px;
}
.adminPostEditAuthor input, .adminPostEditTitle input{
  width: 830px;
  height: 25px;
  float: left;
  border: 1px solid #e3e4e8 ;
  border-radius: 5px;
}

.adminPostEditAuthor input[type='text'], .adminPostEditTitle input[type='text']{
  padding-left: 5px;
  padding-bottom: 5px;
  font-family: Segoe UI Light;
  font-size: 20px;
}

.adminPostCommentContainer{
  width: 1000px;
  height: auto;
  float: left;
}
.adminCommentEditAuthor{
  width: 70px;
}
.adminCommentEditAuthor p{
  color: #68d2d1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.adminCommentEditContent{
  width: 900px;
  float: right;
}
.adminCommentEditContent p{
  width: 900px;
  height: auto;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.adminCommentDeleteButton {
  width: 130px;
  height: 37px;
  background-color: #f96c65;
  float: right;
  margin-top: 25px;
  border-radius: 6px;
  margin-right: 10px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
.adminCommentDeleteButton:hover {
  background-color: #de5959;
}
.adminCommentDeleteButton a {
  margin-left: 11px;
  margin-top: 10px;
  font-size: 15px;
  text-decoration: none;
  color: #fff;
  float: left;
}


#adminPageButton {
  width: 195px;
  height: 37px;
  background-color: #f96c65;
  float: right;
  margin-top: 25px;
  border-radius: 6px;
  margin-right: 20px;
  text-decoration: none;
  color: #fff;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  display: none;
}
#adminPageButton:hover {
  background-color: #de5959;
}
#adminPageButton p {
  margin-left: 25px;
  margin-top: 8px;
  font-size: 18px;
} 

 {
  width: 195px;
  height: 37px;
  background-color: #f96c65;
  float: right;
  margin-top: 25px;
  border-radius: 6px;
  margin-right: 20px;
  text-decoration: none;
  color: #fff;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
#tagsContainer {
  width: 300px;
  max-height: 300px;
}
.tag {
  width: auto;
  height: 20px;
  background-color: #f96c65;
  color: #fff;
  margin: 5px;
  padding: 5px;
  float: left;
  border-radius: 6px;
  cursor: pointer; 
}
.tag a {
  color: #fff;
  text-decoration: none;
}
